{% extends 'app/base.html' %}
{% load static %}
{% block content %}

    <div class="official-entry">
        <h2><a href="{% url 'official_detail' official.pk %}">{{ official.first_name }}</a></h2>
        <p>{{ official.last_name }}</p>
        <p>Position: {{ official.position }}</p>
    </div>

    <h2>Events Overseen:</h2>
    {% if events %}
        <ul>
            {% for event in events %}
                <li>{{ event.event_name }} ({{ event.date|date:"F j, Y" }}) at {{ event.location }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No events are currently overseen by this official.</p>
    {% endif %}
    
    <a href="{% url 'official_update' official.pk %}">+ Edit</a>
    <a href="{% url 'official_delete' official.pk %}">- Delete Content</a>
{% endblock content %}
